@{
    ViewBag.Title = "GPP Home";
}

<div class="jumbotron">
    <h1>GPP Client</h1>
    <p class="lead">GPP Client is a tool for sending files using different transmissions.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
